In [1]:
import pandas as pd
data = pd.read_csv('./DATASET.csv')
data.head()

,Unnamed: 0,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,220,1,34325,M,58,20.8,800,9.1,6.6,2.9,1.1,4.3,1.3,33.0,Y
1,793,1,34325,M,56,20.8,800,9.0,4.6,2.0,1.2,2.5,0.9,35.0,Y
2,488,2,44835,M,60,2.1,56,7.6,3.3,1.7,0.9,1.7,0.8,36.6,Y
3,794,2,44835,M,60,2.1,56,7.2,6.3,3.7,1.0,3.7,1.7,28.0,Y
4,248,3,23972,F,56,4.0,45,9.2,4.1,0.6,1.3,1.4,0.9,30.0,Y

In [6]:
data.describe()

,Unnamed: 0,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,947.000000,947.000000,9.470000e+02,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000
mean,473.000000,337.390707,2.820946e+05,54.101373,5.159074,69.103485,8.408617,4.878691,2.362101,1.209081,2.616304,1.903485,29.893897
std,273.519652,238.938561,3.473737e+06,8.499612,2.975024,60.862961,2.544040,1.313356,1.417275,0.672423,1.127316,3.757012,4.869852
min,0.000000,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,236.500000,125.000000,2.406350e+04,51.000000,3.700000,48.000000,6.800000,4.000000,1.500000,0.900000,1.800000,0.700000,27.000000
50%,473.000000,295.000000,3.439000e+04,55.000000,4.600000,60.000000,8.100000,4.800000,2.000000,1.100000,2.500000,1.000000,30.000000
75%,709.500000,546.500000,4.536950e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,946.000000,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  947 non-null    int64
 1   ID          947 non-null    int64
 2   No_Pation   947 non-null    int64
 3   Gender      947 non-null    object
 4   AGE         947 non-null    int64
 5   Urea        947 non-null    float64
 6   Cr          947 non-null    int64
 7   HbA1c       947 non-null    float64
 8   Chol        947 non-null    float64
 9   TG          947 non-null    float64
 10  HDL         947 non-null    float64
 11  LDL         947 non-null    float64
 12  VLDL        947 non-null    float64
 13  BMI         947 non-null    float64
 14  CLASS       947 non-null    object
dtypes: float64(8), int64(5), object(2)
memory usage: 111.1+ KB

In [2]:
def prediction (row):
    if row['BMI'] >= 25:
        return 'Y'
    elif row['Chol'] > 5:
        return 'Y'
    else:
        return 'N'
data['pred']=data.apply(lambda row: prediction(row), axis = 1)
def TP (row):
    if row['CLASS'] == 'Y' and row['pred'] == 'Y':
        return 1
    else:
        return 0
data['TP']= data.apply(lambda row: TP(row), axis = 1)

def FN (row):
    if row['CLASS'] == 'Y' and row['pred'] == 'N':
        return 1
    else:
        return 0
data['FN']= data.apply(lambda row: FN(row), axis = 1)

def TN (row):
    if row['CLASS'] == 'N' and row['pred'] == 'N':
        return 1
    else:
        return 0
data['TN']= data.apply(lambda row: TN(row), axis = 1)

def FP (row):
    if (row['CLASS'] == 'N' and row['pred'] == 'Y'):
        return 1
    else:
        return 0
data['FP']= data.apply(lambda row: FP(row), axis = 1)

In [3]:
count_tp = data['TP'].value_counts()[1]
count_fn = data['FN'].value_counts()[1]
count_tn = data['TN'].value_counts()[1]
count_fp = data['FP'].value_counts()[1]
total = count_tp+count_fn+count_tn+count_fp
print(count_tp,count_fn,count_tn,count_fp)
print(total)
accuracy = (count_tp + count_tn) / total * 100
print(accuracy)

837 7 89 14
947
97.78247096092925

In [4]:
#using GaussianNB
import pandas as pd
data = pd.read_csv('./DATASET.csv')

In [5]:
data['CLASS'].value_counts()

CLASS
Y    844
N    103
Name: count, dtype: int64

In [3]:
data.head()

,Unnamed: 0,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,220,1,34325,M,58,20.8,800,9.1,6.6,2.9,1.1,4.3,1.3,33.0,Y
1,793,1,34325,M,56,20.8,800,9.0,4.6,2.0,1.2,2.5,0.9,35.0,Y
2,488,2,44835,M,60,2.1,56,7.6,3.3,1.7,0.9,1.7,0.8,36.6,Y
3,794,2,44835,M,60,2.1,56,7.2,6.3,3.7,1.0,3.7,1.7,28.0,Y
4,248,3,23972,F,56,4.0,45,9.2,4.1,0.6,1.3,1.4,0.9,30.0,Y

In [6]:
data.describe()

,Unnamed: 0,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,947.000000,947.000000,9.470000e+02,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000
mean,473.000000,337.390707,2.820946e+05,54.101373,5.159074,69.103485,8.408617,4.878691,2.362101,1.209081,2.616304,1.903485,29.893897
std,273.519652,238.938561,3.473737e+06,8.499612,2.975024,60.862961,2.544040,1.313356,1.417275,0.672423,1.127316,3.757012,4.869852
min,0.000000,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,236.500000,125.000000,2.406350e+04,51.000000,3.700000,48.000000,6.800000,4.000000,1.500000,0.900000,1.800000,0.700000,27.000000
50%,473.000000,295.000000,3.439000e+04,55.000000,4.600000,60.000000,8.100000,4.800000,2.000000,1.100000,2.500000,1.000000,30.000000
75%,709.500000,546.500000,4.536950e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,946.000000,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  947 non-null    int64
 1   ID          947 non-null    int64
 2   No_Pation   947 non-null    int64
 3   Gender      947 non-null    object
 4   AGE         947 non-null    int64
 5   Urea        947 non-null    float64
 6   Cr          947 non-null    int64
 7   HbA1c       947 non-null    float64
 8   Chol        947 non-null    float64
 9   TG          947 non-null    float64
 10  HDL         947 non-null    float64
 11  LDL         947 non-null    float64
 12  VLDL        947 non-null    float64
 13  BMI         947 non-null    float64
 14  CLASS       947 non-null    object
dtypes: float64(8), int64(5), object(2)
memory usage: 111.1+ KB

In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
number = LabelEncoder()
data['ID'] = number.fit_transform(data['ID'])
data['No_Pation'] = number.fit_transform(data['No_Pation'])
data['Gender'] = number.fit_transform(data['Gender'])
data['AGE'] = number.fit_transform(data['AGE'])
data['Urea'] = number.fit_transform(data['Urea'])
data['Cr'] = number.fit_transform(data['Cr'])
data['HbA1c'] = number.fit_transform(data['HbA1c'])
data['TG'] = number.fit_transform(data['TG'])
data['HDL'] = number.fit_transform(data['HDL'])
data['LDL'] = number.fit_transform(data['LDL'])
data['VLDL'] = number.fit_transform(data['VLDL'])
data['BMI'] = number.fit_transform(data['BMI'])
data['CLASS'] = number.fit_transform(data['CLASS'])

ModuleNotFoundError: No module named 'sklearn'

In [51]:
features = ["ID","No_Pation","Gender", "AGE", "Urea", "Cr", "HbA1c","Chol","TG","HDL","LDL","VLDL","BMI"]
target = "CLASS"
features_train, features_test, target_train, target_test = 
train_test_split(data[features],data[target],test_size = 0.4,random_state = 54)

In [52]:
model = GaussianNB()
model.fit(features_train, target_train)

GaussianNB()

In [53]:
pred = model.predict(features_test)
accuracy = accuracy_score(target_test, pred)
accuracy * 100

96.56992084432717